
.navbar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1000;
    transition: background-color 0.3s ease; 
    border-top: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.9); 
    color: white;
    border-top: none; 
    transition: background-color 0.7s ease; 
    height: 120px;

}

.navbar.scrolled {
    background-color: white;
    border: 2px solid black; 
    border-top: none;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}


.navbar-center {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-center li {
    position: relative;
    margin: 0 12px;
}

.navbar-center a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

.navbar-center a:hover {
    text-decoration: underline;
    color: var(--highlight-green);
}

.navbar-center a.active {
    color: var(--highlight-green);
    text-decoration: underline;
    filter:  drop-shadow(
        1px 1px 2px rgb(0, 0, 0,.9)
    );
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(248, 249, 250, 0.9);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: rgba(200, 200, 200, 0.3);
    color: var(--highlight-green); 
}

.navbar-right {
    display: flex;
    align-items: center; 
}

.navbar-right .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.navbar-left .logo{
    height: 160px;
    width: 240px;
    margin-top: -50px;
    margin-bottom: -55px;
    filter: contrast(115%);
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 10px;
    margin-right: 50px;
}

.social-icons a {
    color: black;
    text-decoration: none;
}

.social-icons a:hover {
    color: var(--highlight-green); 
}

.social-icons i {
    font-size: 28px; 
}


/* Estilo básico del menú móvil */
/* Ajuste del logo en el menú móvil */
.mobile-navbar {
    display: none;
    background-color: rgba(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center; 
    justify-content: space-between;
}

.mobile-menu {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: none;
    width: 100%; 
}

.mobile-menu-item {
    margin-bottom: 10px;
}

.mobile-menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.mobile-menu-item:hover a {
    color: var(--highlight-green);
}

.mobile-submenu {
    list-style: none;
    display: none;
}

.mobile-menu-item:hover .mobile-submenu {
    display: block;
}

.mobile-logo {
    width: 50px;
    height: 50px;

}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #333;
    margin-right: 30px; 
}


.mobile-menu.open + .mobile-logo {
    display: block;
}

.mobile-logo-collapsed {
    height: 60px;
    width: auto;
    display: block;
    margin-top: -40px;
    margin-bottom: -40px;

}

.mobile-menu.open + .mobile-logo-collapsed {
    display: none;
}

.mobile-navbar .mobile-logo-collapsed {
    display: none;
}


    
.contact-area {
    background-color: var(--primary-green); 
    color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
    margin-left: 15%;
    
}

.contact-area h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-area p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contact-area a {
    color: #fff; /* Blanco */
    text-decoration: none;
    font-weight: bold;
}

.contact-area a:hover {
    text-decoration: underline;
    background-color: #388e3c;
}

/* Ajuste de responsividad para pantallas pequeñas */
@media (max-width: 1400px) {
    .navbar-left .logo{
        height: 170px;
        width: 160px;
    }

    .navbar-right .logo {
        height: 50px;
        width: 100px; 
    }
    

}

@media (max-width: 1300px) {
    .navbar-right .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    
    .navbar-left .logo{
        height: 170px;
        width: 160px;
    }
    
    .navbar-right .logo {
        height: 40px;
        width: 70px; 
        margin-bottom: 10px; 
        border: 2px solid black; 
        border-radius: 8px; 
        margin-right: 20px;
        
    }
    
    .social-icons {
        display: grid;
        grid-template-columns: repeat(2, auto); 
        gap: 5px;
    }
    .navbar-center{
        gap: 0px;
    }
    .navbar-center a{
        font-size: 12px;
    }
    
}


@media (max-width: 900px) {
    .navbar-container {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        width: 100%;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(248, 249, 250, 0.9);
        padding: 10px 0;
    }

    .mobile-menu.open {
        display: flex;
    }

    .mobile-logo {
        height: 150px;
        width: auto;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    .mobile-navbar {
        padding: 10px;
    }

    .mobile-menu-item a {
        font-size: 16px;
        padding: 8px 0;
    }
}





/* Estilo del pie de página */
footer {
    background-color: var(--dark-grey);
    font-size: 14px;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--dark-grey);
    color: var(--text-white);
}

.footer-logo img {
    max-width: 280px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: -40px;
    filter: contrast(115%);
}

.footer-info {
    display: flex;
    flex: 3;
    justify-content: space-between;
    gap: 20px;
    margin-top: 35px;
}

.footer-column {
    flex: 1;
}

.footer-column h4 {
    margin-top: 0;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-column i {
    margin-right: 10px;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    color: var(--text-white);
    text-decoration: none;
    font-size: 20px;
}

.footer-social a:hover {
    color: var(--highlight-green);
}

.footer-bottom {
    text-align: center;
    flex: 1 100%;
}

.footer-ruc {
    margin-top: 20px;
    color: var(--text-white);
    font-size: 16px;
}

.divider {
    border-bottom: 1px solid var(--highlight-green);
}

/* Sección verde */
.seccion-verde {
    margin-top: 35px;
    background-color: var(--primary-green);
    padding: 20px 0;
    text-align: center;
    color: var(--text-dark);
    border-top: 5px solid var(--highlight-green);
}

.div1 {
    background-color: var(--primary-green);
    color: var(--text-dark);
    padding: 60px 10%;
    border-top: 5px solid var(--highlight-green);
}





@media (max-width: 767px) {
/* Ajustes en el pie de página */
footer {
    font-size: 12px;
}

.footer-container {
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    max-width: 180px;
    margin: 20px 0;
}

.footer-info {
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.footer-column {
    margin: 10px 0;
}

.footer-bottom {
    margin-top: 20px;
}
}