body {
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('t.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.nuestros-servicios {
    margin-top: 100px;
}

.nuestros-servicios h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--primary-green);
    border-bottom: 3px solid var(--primary-green);
    padding-bottom: 10px;
    text-align: center;
}

.servicio {
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 2px solid #000; /* Bordes negros */
}

.servicio h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 0px;
    color: var(--primary-green);
}

.servicio p {
    font-size: 1.1em;
    margin-top: 0px;
}

.carousel {
    position: relative;
    width: 60%; 
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; 
}

.carousel-image {
    min-width: 100%;
    box-sizing: border-box;
    max-height: 120px; 
    object-fit: cover; 
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-dot {
    width: 10px; 
    height: 10px;
    margin: 0 5px; 
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: var(--highlight-green);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .hero h1 {
        font-size: 2.2em;
    }
    .section h2 {
        font-size: 1.8em;
    }
    .stats-container {
        flex-direction: column;
        align-items: center;
    }
    .stat-item {
        margin-bottom: 20px;
        width: 80%;
    }
}
